<%-include('templates /header');%>
  <div id="chat">
    <form id="form0" onsubmit="event.preventDefault(); send(0);">
      <div class="fixed-bottom d-flex" style="position: fixed; bottom: 0; width: 100%; padding: 10px">
        <input type="text" id="userInput0" class="form-control flex-grow-1" placeholder="Question"
          aria-label="Enter question" aria-describedby="button-addon2" autocomplete="off" />
        <button class="btn btn-outline-secondary ml-2" type="submit" id="button-addon2">
          Send
        </button>
      </div>
    </form>
  </div>

  <!-- Modal -->
  <div class="modal" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true" style="
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30%;
    width: 100%;
  ">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="welcomeModalLabel">Welcome</h5>
          <button type="button" class="btn btn-light" onclick="closeModal()" aria-label="Close">
            X
          </button>
        </div>
        <div class="modal-body">
          This is the AI assistant, I can help with any of your fitness related
          questions! Please type your question in the input field below.
        </div>
      </div>
    </div>
  </div>
  <script src="../public/js/ai.js"></script>
  <%-include('templates /footer');%>