<%- include('templates/header'); %>

<form id="editUsernameForm">
    <div class="form-group">
      <label for="usernameInput">UserName</label>
      <input name="name" type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="Enter new username">
      <small id="usernameHelp" class="form-text text-muted">Please Enter New UserName</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form id="editPasswordForm">
    <div class="form-group">
        <label for="currentPasswordInput">Current Password</label>
        <input name="curpassword" type="password" class="form-control" id="currentPasswordInput" aria-describedby="currentPasswordHelp">
        <small id="currentPasswordHelp" class="form-text text-muted">Please Enter Current Password</small>
    </div>
    <div class="form-group">
      <label for="newPasswordInput">New Password</label>
      <input name="newPass" type="password" class="form-control" id="newPasswordInput" aria-describedby="newPasswordHelp">
      <small id="newPasswordHelp" class="form-text text-muted">Please Enter New Password</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="../public/js/editProfile.js"></script>

<%- include('templates/modalEdit')  %>
<%-include('templates/footer');%>