<%-include('templates/header');%>
<div class="list-group me-3">
    <label class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="">
      Workout Goal 1
    </label>
    <label class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="">
      Workout goal 2
    </label>
  </div>
<%-include('templates/footer');%>