<%-include('templates/header');%>

<style>
    .rectangle {
    height: 30vh;
    width: 70vw;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: xx-large;
    }

    .box-shadow-3d{
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
    }

    .rectangle:hover {
        box-shadow: none;
    }
</style>

<a href="/goals">
    <div class="rectangle box-shadow-3d" style="background-color: #EBB0D7">Goals</div>
</a>

<a href="/schedule">
    <div class="rectangle box-shadow-3d" style="background-color: #A8EEE1"></div>
</a>

<%-include('templates/footer');%>