<%- include("templates/header") %>

<link rel="stylesheet" href="../public/CSS/homeUnauthenticated.css">

<div class="container">
    <div class="grid-container">
        <div class="grid-item">
            <img src="/favicon.ico" alt="WeFit Logo" style="width: 350px; height: 135px;">
            <br>
            <h1>Welcome to WeFit!</h1>
            <h3>Sign up or log in to get started</h3>
            <br>
            <a href="/createUser" class="button signup">Sign Up</a>
            <a href="/login" class="button login">Login</a>
        </div>
    </div>
</div>

<%- include("templates/footer") %>
