<%-include('templates/header');%>

<form id="passwordreset" action=<%= '/resetpassword/' + token %> method="post">
    <div class="form-group">
        <label for="password">New Password</label>
        <input name="password" type="text" class="form-control" id="password" placeholder="Enter New Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%-include('templates/footer');%>