<%- include('templates/header'); %>

<!-- Password Reset Form -->
<form id="passwordreset" action="<%= '/resetpassword/' + token %>" method="post">
    <div class="form-group">
        <!-- New Password Input -->
        <label for="password">New Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Enter New Password" required>
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('templates/footer'); %>
