<%- include('templates/header'); %>
<div class="text-center">
    <img src="..." class="rounded mx-auto d-block" alt="profile picture">
    <div>user name</div>
</div>
<br>
<div class="d-grid gap-2">
    <a href="/goals"><button class="btn btn-primary" type="button">Goals</button></a>
    <a href="/schedule"><button class="btn btn-primary" type="button">Workout Schedule</button></a>
    <a href="/editProfile"><button class="btn btn-primary" type="button">Personal Info</button></a>
  </div>
<%- include('templates/footer'); %>