.rectangle {
    height: auto;
    width: 70vw;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
}

.box-shadow-3d {
    box-shadow: 1px 1px 0px #999,
        2px 2px 0px #999,
        3px 3px 0px #999,
        4px 4px 0px #999,
        5px 5px 0px #999,
        6px 6px 0px #999;
}

.rectangle:hover {
    box-shadow: none;
}

/* For Goals Section */
.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.progress {
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 20px;
    height: 30px;
    width: 65vw;
    margin-bottom: 20px;
}

.progress-done {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(to left,
            #BBDEFB,
            #B2DFDB);
    box-shadow: 0 5px 5px -6px #BBDEFB, 0 3px 7px #B2DFDB;
    border-radius: 20px;
    color: #fff;
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s;
}

.inputContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.workoutList {
    margin-left: -35px;
}
/* End of Goals section */