 <!-- https://www.youtube.com/watch?app=desktop&v=uHL6aeWUEQQ -->
 <!-- Bottom of the page footer -->
 <nav class="nav footer">
    <a href="/exercises" class="nav__link">
      <i class="material-icons" style="font-size: 30px;">fitness_center</i>
      <span class="nav__text">Explorer</span>
    </a>
    <a href="/schedule" class="nav__link">
        <i class="material-icons nav__icon">calendar_month</i>
        <span class="nav__text">Plan</span>
    </a>
    <a href="/" class="nav__link">
        <i class="material-icons nav__icon">home</i>
        <span class="nav__text">Home</span>
    </a>
    <a href="/ai" class="nav__link">
        <i class="material-icons nav__icon">smart_toy</i>
        <span class="nav__text">AI</span>
    </a>
    <a href="/profile" class="nav__link">
        <i class="material-icons nav__icon">person</i>
        <span class="nav__text">Profile</span>
      </a>
  </nav>